.skills{
    width: 100%;
    height: 70rem;
    background-color: rgb(168, 168, 168);
    *{
        width: 100%;
        height: 100%;
        padding: 2em 1em 2em 1em;
        .row{
            height: 50%;
            *{
                .col-item{
                    background-color: rgb(223, 223, 223);;
                }
            }
        }
    }
}