.skills{
    width: 100%;
    height: 70rem;
    background-color: #20232a;
    *{
        width: 100%;
        height: 100%;
        padding: 2em 1em 2em 1em;
        .row{
            height: 50%;
            *{
                .col-item{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 1em;
                    color: #FFF;
                    border-bottom: 1px solid #61dafb;
                    .skill-title{
                        padding: 0;
                        height: 20%;
                        font-size: 2em;
                        color: #61dafb;
                    }
                    svg{
                        width: 10em;
                        padding-left: 0;
                        padding-bottom: 0;
                        color: #61dafb;
                    }
                }
            }
        }
    }
}