//Font
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');

.start{
    width: 100%;
    height: 60rem;
    padding-top: 13rem;
    background: #20232a;
    *{
        width: 100%;
        height: 100%;
    }
    .portfolio-image{
        padding: 4em 2em 0 0;
    }
    .portfolio-title{
        padding: 4em 2em 4em 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p{
            height: 35%;
            display: flex;
            justify-content: left;
            align-items: flex-end;
        }
        .full-name{
            color: #FFF;
            font-size: 4em;
            margin: 0;
            font-family: 'Uchen', serif;
            span{
                width: auto;
                height: auto;
                padding-left: 10px;
            }
        }
        .job-title{
            display: flex;
            align-items: flex-start;
            font-size: 2.5em;
            color: #FFF;
            font-family: 'Uchen', serif;
        }
        .portfolio-title-icons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            color: #FFF;
            padding-bottom: 3em;
            .icons-group{
                width: 40em;
                display: flex;
                justify-content: space-between;
            }
            svg{
                width: 6em;
                cursor: pointer;
            }
            svg:hover{
                color: #61dafb;
                transition: color 0.4s ease-in-out;
            }
        }
        .portfolio-contact-button{
            font-size: 30px;
            height: 2.5em;
            width: 10em;
            border-radius: 10px;
            border: #61dafb 1px solid;
            color: #61dafb;
            cursor: pointer;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .portfolio-contact-button:hover{
            background-color: #61dafb;
            color: #20232a;
            transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
        }
    }
    .portfolio-title > *{
        height: 40%;
    }
}